.modal-confirm {
  background: #007bff;
  color: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.confirmation-modal {
  margin: 0 10px;
  border-radius: 15px;
  padding: 15px;
  font-size: 14px;
  background: #fff;
  max-width: 350px;
  width: 90%;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button-group button {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  width: 50%;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.modal-confirm {
  background-color: #ffd162;
  color: black;
}
